<footer class="w-full py-20 bg-[#F6F3F2] dark:bg-[#1B1C1C]">
<div class="flex flex-col md:flex-row justify-between items-end px-12 max-w-screen-2xl mx-auto">
<div class="w-full md:w-1/2">
<div class="font-['Antonio'] text-4xl text-[#1B1C1C] dark:text-[#FBF9F8] mb-8">
                    <a href="#home">DESIGNER.PORTFOLIO</a>
                </div>
<div class="font-['Inter'] text-sm tracking-widest uppercase opacity-60 mb-8 md:mb-0">
                    © 2024 ARCHITECTURAL CURATOR. ALL RIGHTS RESERVED.
                </div>
</div>
<div class="flex gap-8">
<a class="font-['Inter'] text-sm tracking-widest uppercase text-[#1B1C1C] dark:text-[#FBF9F8] hover:text-[#444CCC] transition-colors duration-300" href="#">Instagram</a>
<a class="font-['Inter'] text-sm tracking-widest uppercase text-[#1B1C1C] dark:text-[#FBF9F8] hover:text-[#444CCC] transition-colors duration-300" href="#">LinkedIn</a>
<a class="font-['Inter'] text-sm tracking-widest uppercase text-[#1B1C1C] dark:text-[#FBF9F8] hover:text-[#444CCC] transition-colors duration-300" href="#">Dribbble</a>
<a class="font-['Inter'] text-sm tracking-widest uppercase text-[#1B1C1C] dark:text-[#FBF9F8] hover:text-[#444CCC] transition-colors duration-300" href="#">Contact</a>
</div>
</div>
</footer>